{% extends 'base.html' %}


{% block content %}
    <h1>수정 하기</h1>

    <form action="{% url 'products:update' article.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <p>제목</p>
            <p>
                {{ form.title }}
            </p>
            <p>가격</p>
            <p>
                {{ form.price }}
            </p>
            <p>내용</p>
            <p>
                {{ form.content }}
            </p>
            <p>이미지 추가</p>
            <p>
                {{ form.image }}
            </p>
        </div>
    <button type="submit" class="btn btn-primary">수정</button>
    </form>
    <br>
    <a href="{% url 'products:article_detail' article.pk %}" class="btn btn-secondary">취소</a>
{% endblock content %}